*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#edf7f2;
font-family:Georgia,serif;
color:#2f3e46;
line-height:1.9;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 10%;

background:white;

position:sticky;

top:0;

box-shadow:0 3px 15px rgba(0,0,0,.08);

}

.links a{

text-decoration:none;

margin-left:25px;

font-weight:bold;

color:#355c55;

transition:.3s;

}

.links a:hover{

color:#2b8a78;

}

.hero{

text-align:center;

padding:100px 20px;

background:linear-gradient(
135deg,
#9fd3c7,
#d6eadf,
#edf7f2);

}

.hero h1{

font-size:55px;

margin-bottom:20px;

}

.hero p{

font-size:24px;

color:#4f6964;

}

.card{

width:90%;

max-width:900px;

margin:50px auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.card h2{

margin-bottom:20px;

color:#2b6157;

}

.card ul{

margin-left:25px;

}

.card li{

margin-bottom:15px;

}

.quote{

text-align:center;

font-size:28px;

font-style:italic;

color:#2b6157;

}

footer{

margin-top:70px;

padding:40px;

text-align:center;

background:#d6eadf;

color:#355c55;

}

@media(max-width:768px){

nav{

flex-direction:column;

}

.links{

margin-top:20px;

}

.links a{

display:block;

margin:10px 0;

}

.hero h1{

font-size:38px;

}

.hero p{

font-size:20px;

}

.quote{

font-size:22px;

}

}